html,body{
	background-color:#aaa;
}
.hand { 
	width: 220px; height: 220px; 
	margin:0 auto; 
	background-image: url("../img/hand2.png");
	background-repeat: no-repeat; 
}
.hand-animate { 
	-webkit-animation: hand_move infinite 2s; 
	-moz-animation: hand_move infinite 2s; 
	-ms-animation: hand_move infinite 2s; 
	-o-animation: hand_move infinite 2s; 
	animation: hand_move infinite 2s; 
}
@-webkit-keyframes hand_move {
	0% {
		-webkit-transform: rotate(0);
		   -moz-transform: rotate(0);
			-ms-transform: rotate(0);
			 -o-transform: rotate(0);
				transform: rotate(0); 
		}
	50% {
		-webkit-transform: rotate(15deg);
		   -moz-transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			 -o-transform: rotate(15deg);
				transform: rotate(15deg); 
		}
	100% {
		-webkit-transform: rotate(0);
		   -moz-transform: rotate(0);
			-ms-transform: rotate(0);
			 -o-transform: rotate(0);
				transform: rotate(0); 
		}
}

.result { 
	background: #393B3C; 
	border: #2C2C2C 1px solid; 
	box-shadow: inset #4D4F50 0 0 0 1px; 
	border-radius: 10px; 
	color: #fff; padding: 10px; 
	width: 300px; opacity: 0;
	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
		-ms-transition: all 1s;
		 -o-transition: all 1s;
			transition: all 1s; 
}
.result-show { 
	opacity: 1; 
	margin-top: 50px; 
} 
.btnHide{
	display:none;
}